<h1>Listing doc_divers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_divers.each do |doc_diver| %>
      <tr>
        <td><%= link_to 'Show', doc_diver %></td>
        <td><%= link_to 'Edit', edit_doc_diver_path(doc_diver) %></td>
        <td><%= link_to 'Destroy', doc_diver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc diver', new_doc_diver_path %>
